{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="">
      {% if object.is_active %}
          Уверены, что хотите удалить категорию {{ object.get_name }}?
      {% else %}
          Уверены, что хотите восстановить категорию?
      {% endif %}

      <form method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Уверен">
      </form>
      <a href="{% url 'adminapp:category_list' %}" class="btn btn-success">Отмена</a>
  </div>
{% endblock %}